body {
  background-color: #D9DAE8;
}

h1 {
  font-family: fantasy;
}

h3 {
  text-decoration: underline;
}

h1,
h2,
h3 {
  color: #9A43B1;
}

p,
li {
  color: #B44EBC;
}

ul {
  list-style-type: circle;
}

a {
  color: #956299;
}
