body {
  background-color: #2B2D42;
}

h1 {
  font-family: fantasy;
}

h3 {
  text-decoration: underline;
}

h1,
h2,
h3 {
  color: #D80032;
}

p,
li {
  color: #EF233C;
}

ul {
  list-style-type: circle;
}

a {
  color: #EF233C;
}
